DATABASE_URL="postgresql://postgres:uzairmanandev@localhost:5433/authtemplate"

# Access Token Configuration
# 15 minutes in milliseconds (1000 * 60 * 15)
ACCESS_TOKEN_EXPIRY=900000
ACCESS_TOKEN_SECRET=YourAccessTokenSecretHere

# Refresh Token Configuration
# 7 days in milliseconds (1000 * 60 * 60 * 24 * 7)
REFRESH_TOKEN_EXPIRY=604800000
REFRESH_TOKEN_SECRET=YourRefreshTokenSecretHere

# Reset Token Configuration
# 30 minutes in milliseconds (1000 * 60 * 30)
RESET_TOKEN_EXPIRY=1800000
RESET_TOKEN_SECRET=YourResetTokenSecretHere

# Email Verification Token Configuration
# 2 days in milliseconds (1000 * 60 * 60 * 24 * 2)
VERIFICATION_TOKEN_EXPIRY=172800000
VERIFICATION_TOKEN_SECRET=YourVerificationTokenSecretHere

# nodemailer credentials
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=yourmail@gmail.com
MAIL_PASS=your email app password

# Redis environmenr variables
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# general variables
FRONTEND_URL=http://localhost:3000